#agency{
    height:800px;
    background-image: url("../images/places/ocean.jpg");
    background-size: cover;
    background-position: center;
}
 
#agency-content{
    text-align: center;
    background-color: rgba(51, 47, 47, 0.8);
    width:900px;
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    margin:0 auto;
    padding: 50px 0;
    position: relative;
    top:200px;
}
 
#agency-content h1{
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    margin:0;
}
 
#agency-content p{
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 200;
}
 
#agency-content a{
   text-decoration: none;
   color: black;
   background-color: rgb(255, 251, 0);
   font-size: 24px;
   padding:12px 24px;
   border-radius: 8px;
   font-weight: bold;
   box-shadow: 2px 4px 8px rgb(68, 67, 67);
}

#agency-content a:hover{
    background-color: rgb(255, 238, 0);
}

#highlights{
    padding: 24px;
    background: linear-gradient(0deg, rgb(227, 255, 253), rgb(202, 243, 240));
}

#highlights h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    color: rgb(68, 67, 67);
}

#highlights p{
    text-transform: uppercase;
}

#destinations{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.destination{
    margin: 0 20px
}

.destination p {
    text-align: center;
    font-size: 24px;
}
.destination img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    color: rgb(68, 67, 67);
}

.destination strong{
   color: rgb(0, 160, 117);
}

footer{
    background-color: black;
}
footer img{
    width: 100%;
}

footer ul{
    display: flex;
    justify-content: center;
    
}

footer li{
    width: 80px;
    margin: 10px 40px;
}