Task 4 styles.css
body{
    background-color: rgb(44,41,38);
    font-family: "Open Sans",sans-serif;
    margin:0;
}
 
a{
    text-decoration: none;
}
 
#main-header{
    display:flex;
    padding: 0 5%;
    height: 5rem;
    justify-content:space-between;
    background-color: black;
    align-items: center;
}
 
#logo{
    color:rgb(240, 176, 56);
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
}
 
#main-header ul{
    display:flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
 
#main-header li{
    margin:0 1rem;
}
 
/*#main-header li a{
    color:rgb(238, 159, 13);
}*/
 
#main-header nav a{
    color:rgb(240, 176, 56);
    font-size: 1.20rem;
}
 
#main-header nav a:hover{
    color:rgb(238, 159, 13);
}
 
.menu-btn{
    width: 3rem;
    height:3rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    display:none;
}
 
.menu-btn span{
    background-color: white;
    width:100%;
    height:3px;
}
 
#side-drawer{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    background-color: rgb(44,41,38);
    position:fixed;
    top:0;
    left:0;
    display: none;
}
 
#side-drawer header{
    display:flex;
    justify-content: flex-end;
    padding:0 5%;
    height:5rem;
}
 
#side-drawer ul{
    list-style: none;
    margin:0;
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 
#side-drawer li{
    margin: 1rem 0;
}
 