body{
    background-color:rgb(210, 241, 252);
    margin: 8rem;
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
}

form h2{
    margin: 1rem 0; 
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

label{
    font-size: 14px;
    color: rgb(81, 81, 81);
    margin-bottom: 0.5rem;
    display: block;
}

textarea{
    resize: none;
}

input,
textarea,
select{
    width: 100%;
    display: block;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
    border: 1px solid rgb(166, 164, 164);
    padding: 0.25rem;
    color:rgb(63, 57, 57);
    border-radius: 4px;
}

input:focus,
textarea:focus{
    background-color: rgb(191, 237, 253);
    border-color: rgb(3, 127, 168);
}


button{
    display: block;
    font:inherit;
    background-color: white ;
    color: rgb(3, 127, 168);
    border: 1px solid rgb(3, 127, 168);
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    margin: 0 0.1rem;
}
#btnSubmit{
    background-color: rgb(3, 127, 168);
    color: white;
}

#btnSubmit:hover{
    background-color:rgb(21, 167, 215);
    border-color: rgb(21, 167, 215);
    color: white;
}

#btnClear:hover{
    background-color:rgb(210, 241, 252);
    border-color: rgb(210, 241, 252);
    color: rgb(3, 127, 168);
}
form{
    width:40rem;
    margin: 3rem auto;
    padding: 1rem;
    border-radius: 6px;
    background-color: white;
    box-shadow:2px 4px 6px rgb(0, 0, 0, 0.5);
}

.form-control-inline{
    display: flex; 
}

.form-control-inline input{
    width: auto;
    margin-right: 0.5rem;
}

#btns{
    display: flex;
    justify-content: flex-end;
}

